# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
env/
.env

# Output directories
output/
resume_json/

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo 